/*  your css code here. If applicable */
body{
	background-image: url(https://images.pexels.com/photos/259915/pexels-photo-259915.jpeg?auto=compress&cs=tinysrgb&w=600)
    
}

ul li{
	margin-top:10xpx ;
	line-height: 40px;
	list-style-type:square;
}

#bands{
    background-color:#fff;
	width:300px;
	padding:30px;
	border-left: 20px solid grey;
	border-right: 20px solid grey;
/* 	margin-top:10px; */
	margin-left: 500px;
		
}
